.main_chat
  .main_chat_header
    .member_name_main
      = @group.name
      .member_name_sub
        Member : 
        - @group.users.each do |user|
          = user.name

    = link_to 'Edit' , 'edit', class:'edit_button'

  .main_chat_message
    = render @messages

  .main_chat_message_form
    .main_chat_message_form__block
      .main_chat_message_form__type
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'main_chat_message_form__type_a_message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'main_chat_message_form_file__form' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'input-box__image_form'
              
          = f.submit 'Send', class: 'main_chat_message_form_send__btn__send'
           hhh